<ion-header>
    <ion-toolbar>
        <ion-title>NHS</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item-group>
        <ion-item-divider>
            <ion-label>Emergency numbers</ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let contact of contactsArray" (click)="getContact(contact)" detail="true" button="true">
            <ion-label>{{ contact.info }}</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
            <ion-label>First Aid</ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let item of healthArray" (click)="getInfo(item)" detail="true" button="true">
            <ion-label>
                {{ item.condition }}
            </ion-label>
        </ion-item>
    </ion-item-group>



</ion-content>
